<div class="container-fluid">
    <div class="col-sm-2">
        <form name="myForm">
            <div class="bootstrap container-fluid">
                <div style="width:180px" class="form-group">
                    <label class="control-label">UserID</label>
                    <input type="text" name="Benutzer" ng-model="user.Benutzer">
                </div>
                <div style="width:180px" class="form-group">
                    <label class="control-label">UserName</label>
                    <input type="text" name="Nachname" ng-model="user.Nachname">
                </div>
                <button class="btn btn-default" type="button" ng-click="saveUser()">Set</button>
            </div>
        </form>

    </div>
</div>
