<html ng-app="myApp">
<head>

    <meta charset="iso-8859-1"/>

    <link rel="stylesheet" href="bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css">
    <!--<link rel="stylesheet" href="Font-Awesome/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="x2js/xml2json.min.js"></script>
    <script src="js/communication.js"></script>
    <script src="js/commuCtrl1.js"></script>
    <script src="js/commuCtrl2.js"></script>

</head>
<body class="container-fluid">
  <div ng-controller="commuCtrl1">
      <div class="form-group">
        <label>Controller1</label>
        <input id="ip1" type="text" ng-model="ctrl1Input">
      </div>
  </div>
  <div ng-controller="commuCtrl2 as ctrl2">
      <div>
        <label>Controller2</label>
        <input id="ip2" type="text" ng-model="ctrl2.ctrl2Input" ctrl color="blue">
      </div>
  </div>
</body>

</html>