<html ng-app="myApp">
<head>

    <meta charset="iso-8859-1"/>

    <link rel="stylesheet" href="bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css">
    <link rel="stylesheet" href="font-awesome-4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="x2js/xml2json.min.js"></script>


</head>
<div class="col-sm-9" ng-controller="myCtrl">
    <form name="myForm" novalidate>
        <div style="width:180px" class="form-group" my-show-error>
            <label class="control-label">UserID</label>
            <input class="form-control input-sm" type="text" name="userId" ng-model="userId"
                   ng-model-options="{ updateOn: 'blur'}" my-updateable="{actionStatus: ['add']}"
                   my-focus="focusUserId" my-required >
            <div style="font-weight: bold; color: #A94442" ng-messages="myForm.userId.$error">
                <p ng-message="myRequired">User ID required</p>
                <p ng-message="required">User ID wrong format</p>
            </div>
        </div>
        <div style="width:180px" class="form-group" my-show-error>
            <label class="control-label">User Vorname</label>
            <input class="form-control input-sm"  type="text"  name="userVorname"
                   ng-model="userVorname"
                   my-required
                   my-focus="focusUserVorname">
        </div>
        <div style="width:180px" class="form-group">
            <label class="control-label">User Name</label>
            <input class="form-control input-sm"  type="text" name="userName" ng-model="userName" my-updateable="{actionStatus: ['add','update']}">
        </div>
        <div class="row">
            <div class="col-lg-8">
                <my-panel action="actionStatus"
                          update="update()" save="save()"
                          add="add()" reset="reset()"
                          delete="delete()" cancel="cancel()"
                          update-fields="updateFields">
                    <my-panel/>
            </div>
        </div>
        {{actionStatus}}
    </form>
</div>
<script>
    angular.module('myApp',['ngMessages'])

    .controller('myCtrl',function($scope){
        $scope.actionStatus = 'view';
        $scope.updateFields = ['userName','userVorname'];

        $scope.save = function(){
            alert('submitting data');
        }
        $scope.update = function(){
            $scope.focusUserVorname = true;
        }
        $scope.add = function(){
            $scope.actionStatus = 'add';
            $scope.focusUserId = true;
        }
        $scope.cancel = function(){
            /*
            $scope.dafValor = angular.copy($scope.dafValorOrigin);
            */
        }
        $scope.reset = function(){
            /*
             $scope.dafValor = angular.copy($scope.dafValorOrigin);
             */
        }

    })
    .directive('myPanel', function(){
        return {
            restrict: 'E',
            scope: {
              action: '=',
              updateFields: '=',
              addFields: '=',
              update: '&',
              save: '&',
              add: '&',
              cancel: '&',
              reset: '&',
              delete: '&'
            },
            require: '^form',
            controller: function($scope){

            },
            link: function(scope, elem,attrs,formCtrl){
                // searching for buttons and form
                var btnList = elem.find('[name]');

                if (scope.addFields === undefined) {scope.addFields = [];}
                if (scope.updateFields === undefined) {scope.updateFields = [];}

                // watching for actionStatus and Form state
                scope.$watchGroup(['action',function(scope){return scope.$parent.myForm.$pristine;}],function(newValue){
                  var formPristine = newValue[1];
                  var actionStatus = newValue[0];

                  console.log('directive myPanel: Link: watchGroup: action '+newValue[0]+' form.pristine '+ newValue[1]);

                  if (actionStatus == 'view') {
                        btnList[0].disabled = false; btnList[1].disabled = false;
                        btnList[2].disabled = true;  btnList[3].disabled = true;
                        btnList[4].disabled = true;  btnList[5].disabled = false;
                        enableDisable();
                  }
                  else if (actionStatus == 'update' || actionStatus == 'add'){
                      btnList[0].disabled = true; btnList[1].disabled = true;
                      btnList[5].disabled = true; btnList[3].disabled = false;
                      if (formPristine){
                          btnList[2].disabled = true; btnList[4].disabled = true;
                      }
                      else {btnList[2].disabled = false; btnList[4].disabled = false;}

                      enableDisable();
                  }
                })
                // Update button
                btnList[0].onclick = function(){
                    scope.$apply(function(){
                        scope.action = 'update';
                        scope.update();
                    })
                };
                // Add button
                btnList[1].onclick = function(){
                    scope.$apply(function(){
                        scope.action = 'add';
                        scope.add();
                    })
                };
                // Save button
                btnList[2].onclick = function(){
                    scope.$parent.$broadcast('show-errors-check-validity');
                    if (formCtrl.$valid) {
                      scope.save();
                      scope.$apply(function(){
                          scope.action = 'view';
                          formCtrl.$setPristine();
                          formCtrl.$setUntouched();
                        })
                    }
                    else alert('Data not saved');
                };
                // Cancel button
                btnList[3].onclick = function(){
                    scope.$apply(function(){
                        scope.$parent.$broadcast('show-errors-reset');
                        scope.action = 'view';
                        formCtrl.$setPristine();
                        formCtrl.$setUntouched();
                    })
                };
                // Reset button
                btnList[4].onclick = function(){
                    scope.$apply(function(){
                        scope.$parent.$broadcast('show-errors-reset');
                        formCtrl.$setPristine();
                        formCtrl.$setUntouched();

                    })
                };

                function enableDisable(){
                    var formFields = $('form').find('input');
                    for (i=0; i<formFields.length;i++){

                      if (scope.action == 'update') {
                        if (scope.updateFields.indexOf(formFields[i].name) == -1) {
                          formFields[i].disabled = true;
                        }
                        else formFields[i].disabled = false;
                      }
                      else if (scope.action == 'add') {
                        if (scope.addFields.indexOf(formFields[i].name) == -1) {
                          formFields[i].disabled = true;
                        }
                        else formFields[i].disabled = false;
                      }
                      else if (scope.action == 'view') {formFields[i].disabled = true;}
                    }
                }

            },
            templateUrl: './formPanel.html'
        }
    })
    .directive('myUpdateable',function($timeout){
       return {
           restrict: 'A',
           link: function(scope,elem,attrs){
               var actionVarToWatch = [];
               var actionValueToWatch = [];
               var directiveValue = scope.$eval(attrs.myUpdateable);

               for(i in directiveValue){
                   actionVarToWatch.push(i);
                   actionValueToWatch = directiveValue[i];
               }
               scope.$watch(function(){
                 return scope[actionVarToWatch[0]];
               },
               function(value){
                   //console.log(value+'/'+actionValueToWatch);
                   if (actionValueToWatch.indexOf(value) == -1){
                     $timeout(function(scope) {
                         elem[0].disabled = true;
                     });

                   }
                   else {
                       $timeout(function(scope) {
                           elem[0].disabled = false;
                       });

                   }
               })
               /**
               $timeout(function(scope){
                   attrs.$observe('ngDisabled',function(newValue){
                       alert(newValue);
                   })
               },8000)
                **/
           }

            }
    })
    .directive('myFocus', function($timeout){
       return {
         restrict: 'A',
         scope:{ trigger: '=myFocus'},
         link: function(scope, elem){
           scope.$watch('trigger',function(value){
               $timeout(function(){
                   if (value === true){
                       elem[0].focus();
                       scope.trigger = false;
                   }
               })
           })
         }
       }
    })
    .directive('myRequired', function(){
      return {
          restrict: 'A',
          require: 'ngModel',
          link: function(scope, elem, attrs, ngModel){

              function userId (viewValue){
                console.log('parser: '+viewValue);
                  if (ngModel.$isEmpty(ngModel.$viewValue)) {
                      ngModel.$setValidity('myRequired',false);
                  }
                  else ngModel.$setValidity('myRequired',true);

                  console.log(ngModel.$invalid);

                return viewValue;
              }

              ngModel.$parsers.push(userId);
          }
      }
    })
    .directive('myShowError',function($timeout){
      return {
        restrict: 'A',
        require: '^form',
        link: function(scope, elem, attrs, formCtrl){

            var inputElem = elem.find('[name]');
            var inputElemName = inputElem[0].name;

            //console.log(formCtrl[inputElemName]);

            scope.$watch(function(){
                return formCtrl[inputElemName].$invalid;
            },
            function(invalid){
               if (invalid) elem.toggleClass('has-error');
               else elem.removeClass();
            })  ;

            scope.$on('show-errors-check-validity', function() {
                elem.toggleClass('has-error', formCtrl[inputElemName].$invalid);
                console.log('$on show-errors-check-validity: '+inputElemName+' '+formCtrl[inputElemName].$invalid);
                formCtrl[inputElemName].$setTouched();
            });

            scope.$on('show-errors-reset', function() {
                ('$on show-errors-reset');
                $timeout(function() {
                    elem.removeClass('has-error');
                }, 0, false);

                for (att in formCtrl[inputElemName].$error){
                    if (formCtrl[inputElemName].hasOwnProperty(att)){
                        formCtrl[inputElemName].$setValidity(att, true);

                    }
                }

            });

        }
      }

    })

</script>
</body>
</html>


